[package]
name = "weiweich123/ntust-healthmap"
version = "0.9.17"
description = "NTUST Health Task Map - 台科大健康任務地圖"

[dependencies]
"php/php" = "8.3"

[fs]
"/app" = "app"

[[command]]
name = "run"
module = "php/php:php"
runner = "wasi"

[command.annotations.wasi]
main-args = ["-t", "/app", "-S", "localhost:8080"]
